doctype 5
html
  head
    title #{title} - Donald Thai
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='sytlesheet', href='http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD3J1biQst5EaR8On4-O2X3w1ginqg8gy4&sensor=true')
    script(src='/javascript/jquery-1.9.1.js')
    script(src='/javascript/googlemaps.js')
    script(src='/javascript/markermanager.js')
    script(src='/javascript/jquery-ui.js')
  body
    header
        h1 Donald Thai
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Node.js with Express, Jade and Stylus